body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgb(218, 123, 237);
}

input {
    padding: 5px;
}

button {
    padding: 5px 10px;
    margin-left: 5px;
}

#message {
    margin-top: 15px;
    font-weight: bold;
}